{% extends "base.html" %}
{% load static %}

{% block head_extra %}
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/relatorio/relatorio.css' %}" media="screen" />
<title>Acompanhamento Semanal</title>
{% endblock %}

{% block content %}
<div class="container-relatorio">
    <h4 class="h4-relatorio">Formulário de Acompanhamento Semanal</h4>
</div>
<div class="folha-container-relatorio">

    <form method="post" action="{% url 'acompanhamento_semanal' %}" id="form-acompanhamento">
        {% csrf_token %}
        <div class="form-acompanhamento-relatorio">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ nome }}" readonly>
            </div>
            <div class="form-group">
                <label for="data">Data:</label>
                <input type="date" class="form-control" id="data" name="data" value="{{ data }}" readonly>
            </div>
            <div class="form-group">
                <label for="numero_sessao">Número da Sessão:</label>
                <input type="number" class="form-control" id="numero_sessao" name="numero_sessao"
                    value="{{ numero_sessao }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="sintomas">Sintomas:</label>
            <textarea class="form-control" id="sintomas" name="sintomas"></textarea>
        </div>
        <div class="form-group">
            <label for="estrategias_coping">Estratégias de Coping:</label>
            <textarea class="form-control" id="estrategias_coping" name="estrategias_coping"></textarea>
        </div>
        <div class="form-group">
            <label for="objetivos_proxima_semana">Objetivos para a Próxima Semana:</label>
            <textarea class="form-control" id="objetivos_proxima_semana" name="objetivos_proxima_semana"></textarea>
        </div>



        <input type="hidden" id="id_avaliacao_humor" name="avaliacao_humor">
        <input type="hidden" id="id_mudancas_humor" name="mudancas_humor">
        <input type="hidden" id="id_eventos_semana" name="eventos_semana">
        <div class="container-grafico">
            <div id="avaliacao-humor" class="output-div"></div>
            <div class="relatorio-grafico">
                <canvas id="moodChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div id="mudancas-humor" class="output-div"></div>
        <div id="eventos-semana" class="output-div"></div>
        <div class="form-group">
            <label for="observacoes_terapeuta">Observações do Terapeuta:</label>
            <textarea class="form-control" id="observacoes_terapeuta" name="observacoes_terapeuta"></textarea>
        </div>


        <button type="submit" class="btn btn-custom">Enviar</button>
        <button type="button" class="btn btn-custom" onclick="downloadAsPDF()">Baixar PDF</button>
        <button type="button" class="btn btn-custom" onclick="downloadAsWord()">Baixar Word</button>
    </form>
</div>
<div class="overlay" id="overlay"></div>
<div class="loading-spinner" id="loadingSpinner">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var moodData = {{ mood_data| safe }};
    var moods = ["feliz", "triste", "irritado", "ansioso", "entusiasmado", "cansado", "estressado", "indiferente", "esperancoso", "inspirado"];
    var dataValues = moods.map(mood => moodData[mood] || 0);
</script>
<script>
    function downloadAsPDF() {
        document.getElementById('form-acompanhamento').action = "{% url 'download_pdf_view_criar' %}";
        document.getElementById('form-acompanhamento').submit();
    }

    function downloadAsWord() {
        document.getElementById('form-acompanhamento').action = "{% url 'download_word' %}";
        document.getElementById('form-acompanhamento').submit();
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        gerarRelatorioCompleto();
    });

    async function gerarRelatorioCompleto() {
        const spinner = document.getElementById('loadingSpinner');
        const overlay = document.getElementById('overlay');

        overlay.style.display = 'block';
        spinner.style.display = 'block';

        try {
            await analisarMudancaHumor();
            await new Promise(resolve => setTimeout(resolve, 2000));
            await analisarSentimento();
            await new Promise(resolve => setTimeout(resolve, 2000));
            await consultarIAeEventos();
            await new Promise(resolve => setTimeout(resolve, 2000));
        } catch (error) {
            console.error('Erro ao gerar relatório completo:', error);
            alert('Erro ao gerar relatório completo. Verifique o console para mais detalhes.');
        } finally {
            spinner.style.display = 'none';
            overlay.style.display = 'none';
        }
    }


    function formatarTextoIA(texto) {
        let textoLimpo = texto.replace(/[\\*]+/g, '');
        textoLimpo = textoLimpo.trim();
        textoLimpo = textoLimpo.replace(/\n{2,}/g, '</p><p>');
        textoLimpo = `<p>${textoLimpo}</p>`;
        textoLimpo = textoLimpo.replace(/\n/g, '<br>');
        return textoLimpo;
    }

    function analisarSentimento() {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const avaliacaoHumor = document.querySelector('#id_avaliacao_humor').value;
        return fetch("{% url 'analyze_sentiment' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ avaliacao_humor: avaliacaoHumor })
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById('avaliacao-humor').innerHTML = formatarTextoIA(data.result);
                document.getElementById('id_avaliacao_humor').value = data.result;
            });
    }

    function analisarMudancaHumor() {
        const url = "{% url 'analyze_mood_change' %}";
        return fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.mudancas_humor) {
                    document.getElementById('mudancas-humor').innerHTML = formatarTextoIA(data.mudancas_humor);
                    document.getElementById('id_mudancas_humor').value = data.mudancas_humor;
                } else {
                    alert('Erro ao analisar mudança de humor: ' + data.error);
                }
            });
    }

    function consultarIAeEventos() {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        return fetch("{% url 'consultar_eventos' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ moods: moodData })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('eventos-semana').innerHTML = formatarTextoIA(data.analise_ia);
                    document.getElementById('id_eventos_semana').value = data.analise_ia;
                } else {
                    alert('Erro ao buscar eventos: ' + data.error);
                }
            });
    }






    var ctx = document.getElementById('moodChart').getContext('2d');
    var moodChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Feliz", "Triste", "Irritado", "Ansioso", "Entusiasmado", "Cansado", "Estressado", "Indiferente", "Esperançoso", "Inspirado"],
            datasets: [{
                label: 'Mood da semana',
                data: dataValues,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(199, 199, 199, 0.2)',
                    'rgba(83, 102, 255, 0.2)',
                    'rgba(40, 159, 64, 0.2)',
                    'rgba(255, 99, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(199, 199, 199, 1)',
                    'rgba(83, 102, 255, 1)',
                    'rgba(40, 159, 64, 1)',
                    'rgba(255, 99, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>
{% endblock %}